/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.add-user{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h2 {
  margin-top: 20px;
}

div {
  margin-bottom: 15px;
}

input,
button {
  margin: 5px;
  padding: 8px;
  border: 2px solid black;
  height:30px;
  border-radius: 50px;
}



ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid black;

}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="email"] {
  width: 150px;
}
